body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size: 12px;}
input,a,select{outline:none;}
em,i{font-style: normal;}

body{background:#f5f5f5 ;}
$width:1200px;

/* top  */
#topwrap{
    height:28px;border-bottom:1px solid #ddd;background: #F5f5f5;
    .top{
        width:$width;margin:0 auto;

        #left {
            float:left;height:28px;margin-left: 5px;
            li{float:left;line-height:28px;font-size:12px;color:#666666;
                margin-right: 10px;cursor:pointer;position: relative;
               span{font-size: 12px;color:#68af5c;}
                em{font-size:12px;color:#aaa;}
                &:last-child span{color:#ff6600;}
                div{width:410px;height:294px;border:1px solid #dadada;
                position: absolute;display:none;background: pink;z-index: 10003;}
            }
            .hover:hover{
                div{display:block;}
                em{display:inline-block;transform:rotate(180deg);}               
                }

            .blue:hover{color:blue;}
            .red:hover{color:#ff0000;}
            
        }
        #right{
            float:right;
            li{
                float:left;margin-left:14px;
                line-height:28px;font-size:12px;
                color:#666666;position: relative;
                span{padding-right:5px;}
                div{position:absolute;display:none;}
            }
            li:last-child a{color:#ff0000;}
            .hover:hover div{display:block;}
            .rotate:hover{
                div{display:block;}
                i{
                    display:inline-block;
                    transform:rotate(180deg);
                    transition: all 0.5s;}               
            }     
        } 
    }
}

/* logo  */
.logo{
    width:$width;margin:0 auto;height:80px;
    img{width:$width;height:80px;}
}


/* search  */
#serwrp{ background: #fff;}
.search{
        width:$width;
        margin:0 auto;
        height:125px;
        overflow: hidden; 
        img{width:131px;height:81px;margin: 22px 50px;float: left;}
        .ss{
            float:left;margin:32px 0 0 72px;width:490px;
            input{
                width:382px;height:30px;
                border:2px solid #459d36;
                padding: 0 5px 0 15px;
                line-height: 30px;font-size: 14px;}
            button{
                border:0;width: 73px;
                height: 34px;cursor: pointer;
                background: #459d36;
                color: #FFF;font-size: 14px;
                padding:0;margin:2px 0 0 -4px;}
            div{
                margin: 10px 0;
                width: 498px;
                height: 17px;
                overflow: hidden;
                span{
                    float: left;
                    color: #999;
                }
                ul{
                    float:left;
                    li{
                        float:left;
                        padding:0 11px;
                        border-left: 2px solid #999;
                        a{color:#999;}
                      &:hover a{color:#333;}
                      &:first-child{
                          border:0;padding-left:0;
                          a{color:red;}
                          }
                    }
                }
            }
        }
        .car{
            float: right;
            margin: 35px 0 0;
            width: 130px;
            height: 39px;
            text-align: center;
            background: url(../img/shopping-cart.gif) no-repeat;
            a{
                line-height: 39px;
                color: #666;
                em{display: inline-block;
                    vertical-align: middle;
                    margin-top: -4px;
                    color: #f40;
                    text-indent: 0;
                    margin-left: 2px;}
            }
        }
}

/* search  */
.nav{
    width:$width;
    margin:0 auto;
    height:34px;
    .side{
        position: relative;
        z-index: 1001;
        float: left;
        width: 228px;
        div{
            float: left;   
            span{
                display: inline-block;
                border: 1px solid #ccc;
                color: #666;font-size: 16px;
                width: 112px;
                height: 32px;
                text-align: center;
                cursor: pointer;
                line-height: 32px;
                em{display:inline-block;font-size: 14px;padding: 0 5px;}
                }
        }
        div ul{position:absolute;width:228px;height:358px;background: pink;display:none;}
        .hover{
                em{
                    transform:rotate(180deg);
                    transition: all 0.5s;
                }
                ul{position:absolute;width: 228px;top: 34px;left: 0;display:block;}
        }
    }
    .list{
        float: left;height:34px;
        li{
            float:left;
            line-height: 34px;
             padding: 0 20px;
            a{
                font-size: 16px;
                color: #000;
                font-weight: 700; 
            }
            span{display:inline-block;color:#459d36;font-size:16px;padding:0 5px;}
            &:hover{
                a{color:#459d36;}
                span{
                    transition: all 0.4s;
                    transform:rotate(360deg);
                }
            }
        }
    }
}

#side{
    position:fixed;right:0;top:0;z-index: 99998;
    width:36px;background:#444 ;height:100%;
    li{position:relative;
        width:100%;text-align:center;font-size:16px;color:#ccc;margin:30px 0;
        a{font-size:12px;color:#ccc;}
        div{position:absolute;left:-300px;top:0;z-index:99999;
        width:300px;height:300px;background:pink;display:none;}
    }
    .hover{
        color:white;
        a{color: white;}
        div{display:block;}
        }
}

.footer-wrapper{
    background: #f5f5f5;height:324px;
    .infoe{
        width:1200px;margin:0 auto;height:132px;
        padding:26px 0;border-bottom:1px solid #ccc ;
        border-top:1px solid #ccc ;
       .flo{
           float: left;
           img{display: inline-block;margin-top:5px;float: left;}
           div{
               float: left;margin-left:30px;
                h2{font-weight: 700; color: #666; font-size: 14px;}
                p{margin-top: 15px;font-size: 20px;color: #666;
                span{font-size: 12px;}
                &:last-child{font-size: 12px;color: #444;}
                }
            }
        }
        .pay{
            float:left;width:56px;height:106px;margin-left: 40px;margin-right: 85px;
            h2{font-weight: 700; color: #666; font-size: 14px;margin-bottom: 15px;}
            p{margin-top: 5px;font-size: 14px;color: #666;}
        }
        .send{
            float:left;width:56px;height:130px;margin-right: 85px;
            h2{font-weight: 700; color: #666; font-size: 14px;margin-bottom: 15px;}
            p{margin-top: 5px;font-size: 14px;color: #666;}
        }
        .shop{
             float:left;width:70px;height:82px;margin-right: 85px;
            h2{font-weight: 700; color: #666; font-size: 14px;margin-bottom: 15px;}
            p{margin-top: 5px;font-size: 14px;color: #666;}
        }
        .about{
             float:left;width:56px;height:130px;margin-right: 85px;
            h2{font-weight: 700; color: #666; font-size: 14px;margin-bottom: 15px;}
            p{margin-top: 5px;font-size: 14px;color: #666;}
        }
        .app{
            float:left;width:92px;height:137px;margin-top:-5px;margin-right:36px;
            p{font-size: 12px;color: #333;text-align: center;}
            img{margin-top: 10px;}
        }
        .care{
            float:left;width:92px;height:137px;margin-top:-5px;
            p{font-size: 12px;color: #333;text-align: center;}
            img{margin-top: 10px;}
        }
    }
    
    .flink{
        height:160px;width: 1200px;margin:0 auto;
        .overflow{
            height:20px;width: 1200px;padding:20px 0;
            span:first-child{margin-right: 5px;color:#999;}
            span a{
                display: inline-block;margin: 0 15px 10px 0;color:#999;
            }
        }
        .adv{
            a{
                display: inline-block;
                margin-right: 3px;
            }
        }
        .f-copy{
            margin-top:20px ;
            p{text-align: center;}
            a{
              font-size: 12px;color: #444;text-align: center;  
            }
        }
    }
}



