body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size: 12px;}
input,a,select{outline:none;}
em,i{font-style: normal;}


$width:1200px;

/* top  */
#topwrap{
    height:28px;border-bottom:1px solid #ddd;background: #F5f5f5;
    .top{
        width:$width;margin:0 auto;

        #left {
            float:left;height:28px;margin-left: 5px;
            li{float:left;line-height:28px;font-size:12px;color:#666666;
                margin-right: 10px;cursor:pointer;position: relative;
               span{font-size: 12px;color:#68af5c;}
                em{font-size:12px;color:#aaa;}
                &:last-child span{color:#ff6600;}
                div{width:410px;height:294px;border:1px solid #dadada;
                position: absolute;display:none;background: pink;z-index: 10003;}
            }
            .hover:hover{
                div{display:block;}
                em{display:inline-block;transform:rotate(180deg);}               
                }

            .blue:hover{color:blue;}
            .red:hover{color:#ff0000;}
            
        }
        #right{
            float:right;
            li{
                float:left;margin-left:14px;
                line-height:28px;font-size:12px;
                color:#666666;position: relative;
                span{padding-right:5px;}
                div{position:absolute;display:none;}
            }
            li:last-child a{color:#ff0000;}
            .hover:hover div{display:block;}
            .rotate:hover{
                div{display:block;}
                i{
                    display:inline-block;
                    transform:rotate(180deg);
                    transition: all 0.5s;}               
            }     
        } 
    }
}

/* logo  */
.logo{
    width:$width;margin:0 auto;height:80px;
    img{width:$width;height:80px;}
}


/* search  */
.search{
        width:$width;
        margin:0 auto;
        height:125px;
        overflow: hidden;
        img{width:131px;height:81px;margin: 22px 50px;float: left;}
        .ss{
            float:left;margin:32px 0 0 72px;width:490px;
            input{
                width:382px;height:30px;
                border:2px solid #459d36;
                padding: 0 5px 0 15px;
                line-height: 30px;font-size: 14px;}
            button{
                border:0;width: 73px;
                height: 34px;cursor: pointer;
                background: #459d36;
                color: #FFF;font-size: 14px;
                padding:0;margin:2px 0 0 -4px;}
            div{
                margin: 10px 0;
                width: 498px;
                height: 17px;
                overflow: hidden;
                span{
                    float: left;
                    color: #999;
                }
                ul{
                    float:left;
                    li{
                        float:left;
                        padding:0 11px;
                        border-left: 2px solid #999;
                        a{color:#999;}
                      &:hover a{color:#333;}
                      &:first-child{
                          border:0;padding-left:0;
                          a{color:red;}
                          }
                    }
                }
            }
        }
        .car{
            float: right;
            margin: 35px 0 0;
            width: 130px;
            height: 39px;
            text-align: center;
            background: url(../img/shopping-cart.gif) no-repeat;
            a{
                line-height: 39px;
                color: #666;
                em{display: inline-block;
                    vertical-align: middle;
                    margin-top: -4px;
                    color: #f40;
                    text-indent: 0;
                    margin-left: 2px;}
            }
        }
}

/* search  */
.nav{
    width:$width;
    margin:0 auto;
    height:34px;
    .side{
        position: relative;
        z-index: 1001;
        float: left;
        width: 228px;
        div{
            float: left;   
            span{
                display: inline-block;
                border: 1px solid #ccc;
                color: #666;font-size: 16px;
                width: 112px;
                height: 32px;
                text-align: center;
                cursor: pointer;
                line-height: 32px;
                em{display:inline-block;font-size: 14px;padding: 0 5px;}
                }
        }
        div ul{position:absolute;width:228px;height:358px;background: pink;display:none;}
        .hover{
                em{
                    transform:rotate(180deg);
                    transition: all 0.5s;
                }
                ul{position:absolute;width: 228px;top: 34px;left: 0;display:block;}
        }
    }
    .list{
        float: left;height:34px;
        li{
            float:left;
            line-height: 34px;
             padding: 0 20px;
            a{
                font-size: 16px;
                color: #000;
                font-weight: 700; 
            }
            span{display:inline-block;color:#459d36;font-size:16px;padding:0 5px;}
            &:hover{
                a{color:#459d36;}
                span{
                    transition: all 0.4s;
                    transform:rotate(360deg);
                }
            }
        }
    }
}


/* banner  */
#banwrap{
    height:360px;
   .banner{
       width:1200px;height:360px;margin: 0 auto;
       position:relative;
   }
   .pic{width: 780px;height:360px;position:relative;left:228px;}
    #list{  .index{position:absolute;display: none;}
            div{
                width: 780px;
                img{display:block;width:772px;height:360px;}                  
            }   
    }
    .rBox{
        position:absolute;right:0;top:0;
        width:200px;
        div{border-bottom:1px solid #CECECE;overflow: hidden;background: #fff;
            img{position: relative;}}
    }
    
    #nums{position:absolute;top:325px;left:513px;}        
    #nums li{
            width:20px;height:20px;text-align: center;
            background:#6E6568;color:white;line-height: 20px;
            cursor:pointer;margin:0 10px;border-radius: 50%;
            opacity:0.7;float:left;
            }
    #nums li.hover,#nums li:hover{
            background:white;color:#333333;
       } 
}

#conduct{
        width:$width;
        height:460px;
        margin:30px auto 55px;
  
        .left{width:329px;height:460px;float:left;}
        .right{
            width:820px;height:458px;float:left;padding:0 24px 0;
            border:1px solid #cecece;border-left:0;
           
            .time{
                height:66px;
                border-bottom:1px dashed  #CCCCCC;
                display: flex;align-items:center;
                li{
                    margin:0 35px;padding:15px 0;
                    p{text-align:Center;font-size:12px;color:#8b8b8b;}
                    span{ display:inline-block;width:7px;height:12px;color:#ccc;}
                }
                
                .hover{
                    border-bottom:2px solid red ;
                    p{font-size: 14px;color:red;}
                } 
            }
            #con{
                 display: flex;align-items:center;justify-content:space-between;
                 overflow: hidden;width:820px;height:390px;
                 
                 ul{overflow: hidden;width:820px;height:390px;}
                 li{
                     position: relative;width:157px;margin-right:45px;float: left;
                    span{
                         display:inline-block;width: 60px;height:60px;
                         position:absolute;left:0;top:20px;}
                    div{
                        height:208px;padding: 84px 0 40px;
                        img{width:100%;height:154px;position:relative;}
                        p{font-size: 12px;color:#333;line-height: 18px;text-align: center;}
                        em{font-size: 16px;color:red;}
                    }
                    a{display:inline-block;width:120px;height:30px;margin: 10px 25px;
                        background: #ed4044;border-radius: 10px;color:#fff;font-size:12px;
                        text-align: center;line-height: 30px;}
                    
                 }
            }
        }
    }


#foods{
    height:590px;background: yellow;margin: 0 auto;width:1200px;
    h5{
        float:left;font-size:18px ;color:#333;line-height: 38px;
        span{display: inline-block;font-size: 22px;color: #518f44;}
    }
    .foodnav{
        float:right;border:1px solid #ccc;border-bottom:0;height:33px;margin-top:5px;position: relative;
        li{
            float:left;padding:6px 0;
            a{font-size:12px;color:#333;display: inline-block;line-height:20px;
                padding:0 15px;border-left:1px solid #ccc;}
            &:first-child a{border:0;}
          div{position:absolute;right:0;top:34px;width:500px;height:300px;background: violet;z-index: 1001;}
        }
        .hover{
            border:1px solid #449836;
            a{color:#449836;}
        }
    }
    .box{
        .top{
            height:476px;clear: both;
            .left{
                width:330px;height:477px;background:url(../img/food01.jpg);float: left;position:relative;
                div{
                    width:330px;height:177px;background: #fff;opacity:0.8;position: absolute;bottom: 0;
                    img{display: inline-block;width:330px;height:30px;margin:15px 0;}
                    }
            }
            .right{float: right;width:870px;height:477px;background: green;}
        }
        .bom{height:65px;background: blue;}
    }
}
